{{define "Head"}}
    <title> User Calendar </title>
    <link rel="stylesheet" type="text/css" href="/css/calendar.css">
{{end}}

{{define "Header"}} {{end}}

{{define "Body"}}
<table border="0">
    <thead>
        <tr>
            {{range .Days}}
                <th> {{.Header}} </th>
            {{end}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{range .Days}}
                <td>
                {{range .Fixtures}}
                    <div class="fixture"
                    style="position: relative; top:{{ .RelStart }}%; height:{{.RelHeight}}%; width: 100%;">
                    {{.Name}}
                    </div>
                {{end}}
                </td>
            {{end}}
        </tr>
    </tbody>
</table>
{{end}}

{{define "Footer"}} {{end}}
