{{define "Style"}}
    <link rel="stylesheet" type="text/css" href="/css/user/schedules/base.css">
{{end}}

{{define "Title"}} Base Schedule {{end}}

{{define "FixtureView"}} Your base schedule has {{len .Fixtures }} fixtures. {{end}}

{{define "Buttons"}} {{end}}
