{{define "Head"}}
    <link rel="stylesheet" type="text/css" href="/css/user/schedules/layout.css">
    {{template "Style" $}}
    <title>{{template "Title" $}}</title>
{{end}}

{{define "Header"}} {{end}}

{{define "Body"}}
<div class="element detail">
    <h2 class="title">{{template "Title" $}}</h2>
    <div class="fixture-view">
        {{template "FixtureView" $}}
    </div>
    <div class="buttons">
        {{template "Buttons" $}}
     </div>
</div>

<div class="element">
    <div class="schedule-container">
        <div class="schedule">
            {{range .Fixtures}}
                {{template "Fixture" .}}
            {{end}}
        </div>
    </div>
    <form class="add-fixture-button" action="/user/schedules/base/add_fixture" method="GET">
        <input type="submit" value="Add Fixture">
    </form>
</div>
{{end}}

{{define "Footer"}} {{end}}

{{define "Fixture"}}
    <div class="fixture" style="position: absolute; top:{{ .RelStart }}%; height:{{.RelHeight}}%; width: 100%;">
        <div class="name"> {{.Name}} </div>
        <div class="time"> {{.Time}} </div>
    </div>
{{end}}
