.elos.layout {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.per-aspera {
    width: 100%;
    position: absolute;
    top: 70%;
    text-align: center;
    color: white;
    font-family: "Avenir Next Regular";
    letter-spacing: 2px;
}


.elos.index {
    bottom: 10px;
}

.button {
    color: #00FFA3;
    background: none;
    border: 1px #00FFA3 solid;
    outline: none;
    font-size: .85em;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.sign-in-button {
    width: 90px;
    font-family: "Avenir Next Regular";
    border-radius: 5px;
}

.register-button {
    color: #FF005C;
    border: 1px #FF005C solid;
    width: 90px;
    font-family: "Avenir Next Regular";
    border-radius: 5px;
}
