/* Override */
.elos.layout {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    background: url("/img/sail.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:110%;
}

#header {
    justify-content: space-between;
    min-height: 5.5%;
}

#body {
    min-height:86%;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer {
    min-height:10%;
    background-color: #000000;
}

.aspera-container {
    flex: 1;
    display: flex;
    min-width: 100%;
    align-self: center;
}

.elos-container {
    flex: 1;
    display:flex;
    min-width:100%;
    align-self:flex-end;
    margin-right:20px;
}

.per-aspera {
    margin-top:32%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Avenir Next Regular";
    letter-spacing: 2px;
}

.elos.index {
    text-align: right;
    margin-right: 10px;
    min-width: 100%;
}

a.button {
    width: 90px;
}

.button.sign-in {
    margin: 15px 10px 0 0;
}

.button.register {
    margin: 15px 0 0 10px;
    color: #FF005C;
    border: 1px #FF005C solid;
}
