/* global reset */
* {
    padding: 0;
    margin: 0;
}

/* ensure background, select font */
body {
    background-color: white;
    font-family: "Avenir Next Regular";
}

div#root {
    width: 100wh;

    display: flex;
    flex-direction: column;
}

div#header {
    min-width: 100%;

    flex: 1;
    align-self: flex-start;
}

div#content {
    min-width: 100%;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div#footer {
    min-width: 100%;

    flex: 1;
    align-self: flex-end;
}

div#header, div#footer {
    display: flex;
    flex-direction: row;
}

h1.elos {
    color: #00FFA3;
    font-size: .8em;
    font-family: "Avenir Next UltraLight";
}

h1.elos.layout {
    text-align: center;
}
