.elos {
    font-size: .8em;
    color: #00FFA3;
    font-family: "Avenir Next UltraLight";
}

.elos.layout {
    text-align: center;
}

#root {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width:100%;
   position:absolute;
   top:0;
   bottom:0;
}

#header {
    width: 100%;
    align-self: flex-start;
    flex: 1;
    min-height: 50px;
}

#body {
    width: 100%;
    flex: 1;
    min-height: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#footer {
    width: 100%;
    align-self: flex-end;
    flex: 1;
}

#header, #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
