.title {
    text-align: center;
    font-family: "Avenir Next Regular";
    font-size: 1em;
    color: #979797;
    line-height: 1.5em;
}

.sessions-container {
    margin-top: -10%;
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.element < .sessions-container {
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"] {
    flex-basis: 100%;

    background: #F9F9F9;
    border: 1px solid #979797;
    border-radius: 8px;
    font-family: "Avenir Next UltraLight";
    color: #979797;
    padding: 8px;
    padding-left: 10px;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

div.account-created {
    width: 50%;
    margin: 0 auto;
}


input[type="submit"] {
    background: none;
    border: none;
    outline: none;
    font-size: .85em;
    padding: 5px;
    cursor: pointer;
    color: #00FFA3;
}

input[type="text"]:disabled {
    font-family: "Avenir Next Regular";
    background: #DDDDDD;
    border: 1px solid #00FFA3;
    font-size: .9em;
}

input[type="submit"].float-right {
    position:relative;
    float: right;
}

.text {
    font-family: "Avenir Next Regular";
    font-size: .8em;
    color: #000000;
    line-height: 25px;
    margin: 10px 0;
}

a {
    font-family: "Avenir Next Regular";
    background: none;
    border: none;
    outline: none;
    font-size: .85em;
    padding: 5px;
    cursor: pointer;
    color: #00FFA3;
    text-decoration: none;
}
