@import "fonts.css";
@import "card.css";
@import "index.css";

.top {
    position: absolute;
    top: 20px;
}

.left {
    position: absolute;
    left: 20px;
}

.right {
    position: absolute;
    right: 20px;
}

.bottom {
    position: absolute;
    bottom: 20px;
}

.center {
    width: 100%;
}

.elos {
    font-size: .8em;
    color: #00FFA3;
    font-family: "Avenir Next UltraLight";
}

.elos.layout {
    text-align: center;
}
