<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
