<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        {{template "Head" $}}
    </head>
    <body>
        <div id="root">
            <div id="header">
                <h1 class="elos layout">elos</h1>
                {{template "Header" $}}
            </div>
            <div id="body">
                {{template "Body" $}}
            </div>
            <div id="footer">
                {{template "Footer" $}}
            </div>
        </div>
    </body>
</html>
