<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        {{template "Head" $}}
    </head>
    <body>
        <h1 class="elos layout center top">elos</h1>
        {{template "Body" $}}
    </body>
</html>
