{{define "Title"}} Registration {{end}}

{{define "Form"}}
    <form action="/register" method="POST">
        <input type="text" class="name" name="name" value="" placeholder="Your Name">
        <input type="submit" class="right" value="Sign Up">
    </form>
{{end}}
