{{define "Title"}} Authentication {{end}}

{{define "Form"}}
    <form action="/sign-in" method="POST">
        <input type="text" name="id" value="" placeholder="ID">
        <input type="text" name="key" value="" placeholder="Key">
        <input type="submit" class="float-right" value="Sign In">
    </form>
{{end}}
