div.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

input[type="submit"] {
    width: 100px;
}

.middle-button {
    margin: auto 15px;
}
