#body {
    align-items: flex-start;
}
.element {
    flex: 1;
    max-width:25%;

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
}

.detail {
    margin-right:5%;
}

.detail .title {
    font-family: "Avenir Next UltraLight";
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    max-height: 1.4em;
}

.schedule-container {
    height: 550px;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid gray;
}

.schedule-container::-webkit-scrollbar {
    display: none;
}

.schedule {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    height: 200%;

    background: #F7F7F7;
    display: flex;
}

.schedule element {
    flex: 1;
}

.element form {
    margin-top: 10px;
}


div.fixture {
    background: #DADADA;
    border: 1px solid #00FFA3;
}

div.name, div.time {
    position: absolute;
    top: 5px;
    font-family: "Avenir Next Regular";
    font-size: .8em;
}

div.name {
    left: 5px;
}

div.time  {
    right: 5px;
}

.fixture-view {
    width:100%;
}

.buttons {
    width: 100%;
}

input[type="text"], input[type="time"] {
    width: 100%;
    font-family: "Avenir Next Regular";
    color: gray;
}

input[type="checkbox"] {
    margin: 8px;
}

input[type="time"]:disabled {
    opacity: 0.3;
}
